/* --- ESTILOS PARA A TELA DE CUSTOS FIXOS --- */
.graficos-container {
    display: flex;
    gap: 25px;
    width: 100%;
    height: calc(100% - 140px); /* Ajusta a altura descontando os cards e títulos */
}

.grafico-wrapper {
    flex: 1; /* Faz cada wrapper de gráfico ocupar metade do espaço */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
}

.grafico-wrapper h4 {
    margin-bottom: 15px;
    font-weight: 400;
    color: #bdc3c7;
}

/* Redefine o container de um único gráfico para não conflitar */
.grafico-container {
    height: auto; 
}